{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
  <link rel="stylesheet" type="static\css" href="static\css\buttons.css">
</header>

<div class="container-fluid " style="padding: 50px 0; min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center"> <!-- Added 'text-center' class -->
      <div class="bg-white p-4 container h-auto" style="width: 400px; box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);" > <!-- Added 'bg-white', 'p-4', 'container', and 'h-auto' classes -->
        <h2 class="text-center">Add Note</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title:</label>
            <br>
            {{ form.title }}
          </div>
          <div class="form-group">
            <label for="text">Note:</label>
            <br>
            {{ form.text }}
          </div>
          <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center"><img src="{% static 'img/save.png' %}" alt="Save"  class="btn-image" style="max-height: 30px; max-width: 30px;"><button type="submit" class="btn" style="align-content: center;">Save</button></div>
          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}