{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">

{% endblock %}
{% block content %}

<h1>Welcome to My Notes!</h1>

<main>
    <section>
        <h2>Your Personal Note-Taking Companion</h2>
        <p>My Notes is a simple and intuitive platform designed to make note-taking easy and fun. Whether you're jotting down ideas, making a grocery list, or keeping a journal, My Notes is here to help you organize and manage your thoughts.</p>
        <p>With My Notes, you can create, edit, and delete notes with just a few clicks. Our user-friendly interface makes it easy to find and organize your notes, so you can focus on what's important: your ideas.</p>
        <p>Ready to get started? Sign up for a free account today and take the first step towards a more organized life.</p>
    </section>
</main>
{% endblock %}