{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-7">Set Password</h1>
    <h4>Please set a user password.</h4>
    <form action="{% url 'activate' token %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <div class="d-flex justify-content-center"><img src="{% static 'img/password.png' %}" alt="Set Password"  class="btn-image" style="max-height: 30px; max-width: 30px;"><button type="submit" class="btn" style="align-content: center;">Set Password</button></div>
        </div>
    </form>
</div>

{% endblock %}